.App {
  text-align: center;
}

.header {
  background-color: rgb(180, 238, 243);
  height: 60px;
  display: flex;
  justify-content: flex-end;
  gap: 22px;
  padding-right: 33px;
  align-items: center;
}

.tab {
  background-color: rgb(72, 72, 118);
  padding: 12px;
  text-align: center;
  border-radius: 8px;
  color: white;
  cursor: pointer;
}

.footer {
  position: fixed;
  background-color: rgb(111, 111, 111);
  bottom: 0;
  height: 80px;
  width: 100%;
}

.main {
  padding-top: 44px;

}

.input-div {
  margin: auto;
  margin-bottom: 12px;
}

.submit-btn {
  margin-top: 22px;
}

.input {
  width: 300px;
}

.error-span {
  color: red;
}